[submodule "metacubexd"]
	path = metacubexd
	url = https://github.com/MetaCubeX/metacubexd.git

[submodule "plugin/hysteria2/src/main/go/hysteria2"]
	path = plugin/hysteria2/src/main/go/hysteria2
	url = https://github.com/apernet/hysteria