*.iml
.gradle
.kotlin
.idea
.vscode
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
/app/libs/
/service_account_credentials.json
jniLibs/
/library/libcore_build/
.idea/deploymentTargetDropDown.xml
go.work*
*.srs
*.zip
*.tgz
*.zst
*.tar.*
*.tar

# submodules
/external
