[submodule "plugin/hysteria2/src/main/go/hysteria2"]
	path = plugin/hysteria2/src/main/go/hysteria2
	url = https://github.com/apernet/hysteria.git
[submodule "plugin/juicity/src/main/go/juicity"]
	path = plugin/juicity/src/main/go/juicity
	url = https://github.com/juicity/juicity.git
[submodule "plugin/naive/src/main/jni/naiveproxy"]
	path = plugin/naive/src/main/jni/naiveproxy
	url = https://github.com/klzgrad/naiveproxy.git
