<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android, com.blacksquircle.ui.editorkit" />

    <permission
        android:name="${applicationId}.SERVICE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.NEARBY_WIFI_DEVICES"
        android:minSdkVersion="36" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />


    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <queries>
        <intent>
            <action android:name="io.nekohasekai.sagernet.plugin.ACTION_NATIVE_PLUGIN" />
        </intent>
    </queries>

    <application
        android:name="io.nekohasekai.sagernet.SagerNet"
        android:allowBackup="true"
        android:autoRevokePermissions="allowed"
        android:banner="@mipmap/ic_launcher"
        android:dataExtractionRules="@xml/backup_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:fullBackupOnly="true"
        android:hardwareAccelerated="true"
        android:hasFragileUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Start">
        <meta-data
            android:name="android.app.shortcuts"
            android:resource="@xml/shortcuts" />

        <activity
            android:name=".ui.BlankActivity"
            android:configChanges="uiMode" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>

            <intent-filter android:label="@string/subscription_import">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="subscription"
                    android:scheme="husi" />

            </intent-filter>

            <intent-filter android:label="@string/subscription_import">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="import-remote-profile"
                    android:scheme="sing-box" />
            </intent-filter>

            <intent-filter android:label="@string/profile_import">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="husi" />
                <data android:scheme="ss" />
                <data android:scheme="socks" />
                <data android:scheme="socks4" />
                <data android:scheme="socks4a" />
                <data android:scheme="sock5" />
                <data android:scheme="vmess" />
                <data android:scheme="vless" />
                <data android:scheme="trojan" />
                <data android:scheme="trojan-go" />
                <data android:scheme="naive+https" />
                <data android:scheme="naive+quic" />
                <data android:scheme="hysteria" />
                <data android:scheme="hysteria2" />
                <data android:scheme="hy2" />
                <data android:scheme="tuic" />
                <data android:scheme="juicity" />
                <data android:scheme="mieru" />
                <data android:scheme="anytls" />

            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity-alias
            android:name=".ui.ProcessTextActivityAlias"
            android:exported="true"
            android:targetActivity=".ui.MainActivity">

            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="text/uri-list" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="io.nekohasekai.sagernet.ui.VpnRequestActivity"
            android:excludeFromRecents="true"
            android:taskAffinity="" />
        <activity android:name="io.nekohasekai.sagernet.ui.profile.ConfigEditActivity" />
        <activity android:name="io.nekohasekai.sagernet.ui.profile.SocksSettingsActivity" />
        <activity android:name="io.nekohasekai.sagernet.ui.profile.HttpSettingsActivity" />
        <activity android:name="io.nekohasekai.sagernet.ui.profile.ShadowsocksSettingsActivity" />
        <activity android:name="io.nekohasekai.sagernet.ui.profile.VMessSettingsActivity" />
        <activity android:name="io.nekohasekai.sagernet.ui.profile.TrojanSettingsActivity" />
        <activity android:name="io.nekohasekai.sagernet.ui.profile.MieruSettingsActivity" />
        <activity android:name="io.nekohasekai.sagernet.ui.profile.NaiveSettingsActivity" />
        <activity android:name="io.nekohasekai.sagernet.ui.profile.HysteriaSettingsActivity" />
        <activity android:name="io.nekohasekai.sagernet.ui.profile.SSHSettingsActivity" />
        <activity android:name="io.nekohasekai.sagernet.ui.profile.WireGuardSettingsActivity" />
        <activity android:name="io.nekohasekai.sagernet.ui.profile.TuicSettingsActivity" />
        <activity android:name="io.nekohasekai.sagernet.ui.profile.JuicitySettingsActivity" />
        <activity android:name="io.nekohasekai.sagernet.ui.profile.DirectSettingsActivity" />
        <activity android:name="io.nekohasekai.sagernet.ui.profile.AnyTLSSettingsActivity" />
        <activity android:name="io.nekohasekai.sagernet.ui.profile.ChainSettingsActivity" />
        <activity android:name="io.nekohasekai.sagernet.ui.profile.ShadowTLSSettingsActivity" />
        <activity android:name="io.nekohasekai.sagernet.ui.profile.ShadowQUICSettingsActivity" />
        <activity android:name="io.nekohasekai.sagernet.ui.profile.ProxySetSettingsActivity" />
        <activity android:name="io.nekohasekai.sagernet.ui.profile.ConfigSettingActivity" />
        <activity android:name=".ui.GroupSettingsActivity" />
        <activity android:name=".ui.RouteSettingsActivity" />
        <activity android:name=".ui.AssetsActivity" />
        <activity android:name=".ui.AssetEditActivity" />
        <activity android:name=".ui.AppListActivity" />
        <activity
            android:name=".QuickToggleShortcut"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/quick_toggle"
            android:launchMode="singleTask"
            android:process=":bg"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AppManagerActivity"
            android:excludeFromRecents="true"
            android:label="@string/proxied_apps"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.configuration.ScannerActivity"
            android:excludeFromRecents="true"
            android:label="@string/add_profile_methods_scan_qr_code"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.configuration.ProfileSelectActivity"
            android:label="@string/select_profile"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.tools.StunActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.tools.SpeedtestActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.tools.GetCertActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.tools.VPNScannerActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.tools.RuleSetMatchActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.SwitchActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.SagerNet.Dialog" />

        <service
            android:name=".bg.ProxyService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:process=":bg">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="proxy" />
        </service>

        <service
            android:name=".bg.VpnService"
            android:exported="false"
            android:foregroundServiceType="systemExempted"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:process=":bg"
            tools:ignore="ForegroundServicePermission">

            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <service
            android:name=".bg.TileService"
            android:exported="true"
            android:icon="@drawable/ic_service_active"
            android:label="@string/tile_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":bg"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.cache"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/cache_paths" />
        </provider>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="merge">
            <meta-data
                android:name="io.nekohasekai.sagernet.SagerNet"
                android:value="androidx.startup" />
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <receiver
            android:name=".BootReceiver"
            android:enabled="false"
            android:exported="true"
            android:process=":bg">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="io.nekohasekai.sagernet.tasker.TaskerReceiver"
            android:directBootAware="true"
            android:exported="true"
            android:process=":bg"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>

        <activity
            android:name="io.nekohasekai.sagernet.tasker.TaskerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            android:process=":bg" />

    </application>

</manifest>
