[Desktop Entry]
Type=Application
Name=__HUSI_APP_NAME__
Name[zh_CN]=__HUSI_APP_NAME_ZH_CN__
Name[zh_TW]=__HUSI_APP_NAME_ZH_TW__
Comment=__HUSI_APP_DESCRIPTION__
Comment[zh_CN]=__HUSI_APP_DESCRIPTION_ZH_CN__
Comment[zh_TW]=__HUSI_APP_DESCRIPTION_ZH_TW__
Exec=__HUSI_PACKAGE_NAME__ open %u
Icon=__HUSI_PACKAGE_NAME__
Terminal=false
Categories=Network;
StartupNotify=true
StartupWMClass=__HUSI_STARTUP_WM_CLASS__
MimeType=__HUSI_URL_SCHEME_MIME_TYPES__
