name: Release Build
on:
  workflow_dispatch:
    inputs:
      release:
        description: 'Release: input "y" to ignore.'
        required: false
  push:
    tags:
      - "v*"
jobs:
  libcore:
    name: Native Build (LibCore)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - variant: default
            disable_naive: ""
          - variant: legacy
            disable_naive: "1"
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Golang Status
        run: find buildScript libcore/*.sh | xargs cat | sha1sum > golang_status
      - name: Libcore Status
        run: git ls-files libcore | xargs cat | sha1sum > libcore_status
      - name: LibCore Cache
        id: cache
        uses: actions/cache@v4
        with:
          path: |
            app/libs/libcore.aar
          key: ${{ matrix.variant }}-${{ hashFiles('.github/workflows/*', 'golang_status', 'libcore_status') }}
      - name: Golang Version
        if: steps.cache.outputs.cache-hit != 'true'
        id: version
        run: |
          source buildScript/init/version.sh
          echo go_version=$GO_VERSION >> $GITHUB_OUTPUT
      - name: Install Golang
        if: steps.cache.outputs.cache-hit != 'true'
        uses: actions/setup-go@v6
        with:
          go-version: ${{ steps.version.outputs.go_version }}
          cache-dependency-path: libcore/go.sum
      - uses: actions/setup-java@v5
        if: steps.cache.outputs.cache-hit != 'true'
        with:
          java-version: "21"
          distribution: "temurin"
      - name: Setup Android NDK
        if: steps.cache.outputs.cache-hit != 'true'
        # Pin NDK version for `gomobile`.
        id: setup-ndk
        uses: nttld/setup-ndk@v1
        with:
          add-to-path: true
          ndk-version: r29
          local-cache: false
      - name: Native Build
        if: steps.cache.outputs.cache-hit != 'true'
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
          DISABLE_NAIVE: ${{ matrix.disable_naive }}
        run: |
          ./run lib core
      - name: Upload libcore
        uses: actions/upload-artifact@v5
        with:
          path: app/libs/libcore.aar
          name: "libcore-${{ matrix.variant }}"
  build:
    name: Build APK
    runs-on: ubuntu-latest
    needs: libcore
    strategy:
      matrix:
        include:
          - flavor: Foss
            libcore_variant: default
          - flavor: FossLegacy
            libcore_variant: legacy
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: LibCore Artifact
        uses: actions/download-artifact@v6
        with:
          name: "libcore-${{ matrix.libcore_variant }}"
          path: app/libs
      - uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "temurin"
      - name: Golang Version
        if: steps.cache.outputs.cache-hit != 'true'
        id: version
        run: |
          source buildScript/init/version.sh
          echo go_version=$GO_VERSION >> $GITHUB_OUTPUT
      - name: Install Golang
        if: steps.cache.outputs.cache-hit != 'true'
        uses: actions/setup-go@v6
        with:
          go-version: ${{ steps.version.outputs.go_version }}
          cache-dependency-path: libcore/go.sum
      - uses: gradle/actions/setup-gradle@v5
      - name: Gradle Build
        env:
          BUILD_PLUGIN: none
        run: |
          echo "sdk.dir=${ANDROID_HOME}" > local.properties
          echo "${{ secrets.LOCAL_PROPERTIES }}" >> local.properties
          ./run init action gradle
          ./gradlew clean app:assemble${{ matrix.flavor }}Release
          APK=$(find app/build/outputs/apk -name '*arm64-v8a*.apk')
          APK=$(dirname $APK)
          rm $APK/output-metadata.json
          echo "APK=$APK" >> $GITHUB_ENV
          echo "MAPPING_FILE=app/build/outputs/mapping/${{ matrix.flavor }}Release/mapping.txt" >> $GITHUB_ENV
      - uses: actions/upload-artifact@v5
        with:
          name: APKs-${{ matrix.flavor }}
          path: ${{ env.APK }}
      - uses: actions/upload-artifact@v5
        with:
          name: r8-mapping-${{ matrix.flavor }}
          path: ${{ env.MAPPING_FILE }}
  release:
    name: Publish Release
    if: github.event.inputs.release != 'y'
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Download Artifacts
        uses: actions/download-artifact@v6
        with:
          pattern: APKs-*
          path: artifacts/
          merge-multiple: true
      - name: Download R8 Mapping
        uses: actions/download-artifact@v6
        with:
          pattern: r8-mapping-*
          path: mapping/
          merge-multiple: true
      - name: Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          mkdir apks
          find artifacts -name "*.apk" -exec cp {} apks \;
          cp mapping/*.txt apks/ 2>/dev/null || true
          gh release create "${{ github.ref_name }}" --title "${{ github.ref_name }}" --prerelease ./apks/* \
            --notes $'# :memo: Release Notes\n\n* Fixes and improvements.'
