name: Hysteria 2 Plugin Build
on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Release Tag'
        required: true
      release:
        description: 'Input "y" to ignore.'
        required: false
jobs:
  native:
    name: Native Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Fetch Status
        run: git submodule status 'plugin/hysteria2/*' > hysteria2_status
      - name: Hysteria 2 Cache
        id: cache
        uses: actions/cache@v4
        with:
          path: |
            plugin/hysteria2/src/main/jniLibs
          key: ${{ hashFiles('.github/workflows/*', 'bin/lib/hysteria2/*', 'hysteria2_status') }}
      - name: Golang Version
        if: steps.cache.outputs.cache-hit != 'true'
        id: version
        run: |
          source buildScript/init/version.sh
          echo go_version=$GO_VERSION >> $GITHUB_OUTPUT
      - name: Install Golang
        uses: actions/setup-go@v6
        if: steps.cache.outputs.cache-hit != 'true'
        with:
          go-version: ${{ steps.version.outputs.go_version }}
      - name: Setup Android NDK
        if: steps.cache.outputs.cache-hit != 'true'
        id: setup-ndk
        uses: nttld/setup-ndk@v1
        with:
          add-to-path: true
          ndk-version: r29
          local-cache: false
      - name: Native Build
        if: steps.cache.outputs.cache-hit != 'true'
        run: ./run plugin hysteria2
  build:
    name: Gradle Build
    runs-on: ubuntu-latest
    needs:
      - native
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Fetch Status
        run: git submodule status 'plugin/hysteria2/*' > hysteria2_status
      - name: Hysteria 2 Cache
        uses: actions/cache@v4
        with:
          path: |
            plugin/hysteria2/src/main/jniLibs
          key: ${{ hashFiles('.github/workflows/*', 'bin/lib/hysteria2/*', 'hysteria2_status') }}
      - uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "temurin"
      - uses: gradle/actions/setup-gradle@v5
      - name: Release Build
        env:
          SKIP_BUILD: on
          BUILD_PLUGIN: hysteria2
        run: |
          echo "sdk.dir=${ANDROID_HOME}" > local.properties
          echo "${{ secrets.LOCAL_PROPERTIES }}" >> local.properties
          ./gradlew :plugin:hysteria2:assembleFossRelease
          APK=$(find plugin/hysteria2/build/outputs/apk -name '*arm64-v8a*.apk')
          APK=$(dirname "$APK")
          echo "APK=$APK" >> $GITHUB_ENV
      - uses: actions/upload-artifact@v5
        with:
          name: APKs
          path: ${{ env.APK }}
  release:
    name: Publish Release
    if: github.event.inputs.release != 'y'
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Donwload Artifacts
        uses: actions/download-artifact@v6
        with:
          name: APKs
          path: artifacts
      - name: Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          mkdir apks
          find artifacts -name "*.apk" -exec cp {} apks \;
          UPSTREAM_VERSION=$(echo "${{ github.event.inputs.tag }}" | sed -E 's/plugin-hysteria2-(v[0-9]+\.[0-9]+\.[0-9]+).*/\1/')
          gh release create "${{ github.event.inputs.tag }}" --title "${{ github.event.inputs.tag }}" --prerelease ./apks/* \
            --notes $'# :memo: Release Notes\n\nUpstream: https://github.com/apernet/hysteria/releases/tag/app/'"$UPSTREAM_VERSION"