name: Test

on:
  push:
    branches:
      - dev*
    paths:
      - "**.go"
      - "app/**"
      - ".github/workflows/test.yml"
  pull_request:
    branches:
      - dev*
    paths:
      - "**.go"
      - "app/**"
      - ".github/workflows/test.yml"

jobs:
  test:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Golang Version
        id: version
        run: |
          source buildScript/init/version.sh
          echo go_version=$GO_VERSION >> $GITHUB_OUTPUT
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ steps.version.outputs.go_version }}
          cache-dependency-path: libcore/go.sum
      # - uses: golangci/golangci-lint-action@v6
      #   with:
      #     skip-cache: true
      #     working-directory: ./libcore/
      #     version: latest
      #     args: --timeout=30m --config="./.golangci.yml"
      #     install-mode: binary
      - name: Go Test
        run: |
          make test_go

      # Build core for gradle test
      - name: Golang Status
        run: find buildScript libcore/*.sh | xargs cat | sha1sum > golang_status
      - name: Libcore Status
        run: git ls-files libcore | xargs cat | sha1sum > libcore_status
      - name: LibCore Cache
        id: cache
        uses: actions/cache@v4
        with:
          path: |
            app/libs/libcore.aar
          key: ${{ hashFiles('.github/workflows/*', 'golang_status', 'libcore_status') }}
      - uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "temurin"
      - name: Setup Android NDK
        if: steps.cache.outputs.cache-hit != 'true'
        # Pin NDK version for `gomobile`.
        id: setup-ndk
        uses: nttld/setup-ndk@v1
        with:
          add-to-path: true
          ndk-version: r29
          local-cache: false
      - name: Build Libcore
        if: steps.cache.outputs.cache-hit != 'true'
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
        run: |
          ./run lib core

      - uses: gradle/actions/setup-gradle@v5
      - name: Gradle Test
        run: |
          make test_gradle
